<html>
    <head>
        <title>MarkεtΠlacε | Create</title>
    </head>
    <body>
        {% include "nav.html" %}
        
        <div>
            <form>
                <input type="file">
                <h4>NFT Name</h4>
                <input type="text">
                <h4>Description</h4>
                <input type="text">
                <h4>Price</h4>
                <input type="text">
                <br>
                <input type="submit">
                
                <p>{{content}}</p>
            </form>
        </div>

        {% include "ftr.html" %}
    </body>
</html>