{% extends "account-settings.html" %}

{% block content %}
<div class="form">
    <form class="forma" action = "/changePassword" method="POST">
        <h4> Old Password</h4>
        <input type = "password" name="old_password"> 
        <h4> New Password</h4>
        <input type = "password" name="new_password"> 
        <h4> Confirm Password</h4>
        <input type = "password" name="confirm_password"> 
        <br>
        <button type="submit">Change</button>
        <p>{{content}}</p>
    </form>
</div>
{% endblock %}