<div class="footer">
    <div class="ftr">
        <div class="ftrUser">
            <div class="ftrLog">
                <a href="/login">
                    <div class="ftrLogUser">Login</div>
                </a>
            </div>

            <div class="ftrReg">
                <a href="/register">
                    <div class="ftrRegUser">Register user</div>
                </a>
            </div>
        </div>

        <div class="ftrArt">
            <a href="/nfts">
                <div class="ftrNFT">Artwork</div>
            </a>
        </div>
    </div>
</div>