<div class="grid-item">
    <a class="artwork-card" href="/Templates/nfts/nftID.html">
        <div class="cover">
            <img src="">
        </div>

        <div class="description">
            <div class="artwork-name">
                <div class="artNm">{{ art_name }}</div>
            </div>

            <div class="creator">
                <div class="crtNm">{{ creator }}</div>
            </div>
        </div>

        <div class="price-outer">
            <div class="price">
                <div class="prc">Price</div>
                <div class="prc">{{ nft_price }}</div>
            </div>
        </div>
    </a>
</div>