<div class = "navbar">
    <div class="navbar1">
        <div class="artwork">
            <a href = "/nfts">
                <div class="artworkw">Artwork</div>
            </a>
        </div>

        <div class="home">
            <a href = "/">
                <div class="homew">Home</div>
            </a>
        </div>

        <div class="login">
            <a href = "/login">
                <div class="loginw">Login</div>
            </a>
        </div>
    </div>

    <div class="navbar2">
        <div class="register">
            <a href = "/register">
                <div class="registerw">Register</div>
            </a>
        </div>
    </div>
</div>