<html>
    <head>
        <title>MarkεtΠlacε Artwork</title>
    </head>
    <body>
        {% include "nav.html" %}
        <section class="nfts">
            
            <div>
                <form action = "{{url_for("choosen_nft")}}" method="post">
                    <div class="grid">

                        {% for i in nft %}
                            {% include "grid-item.html" %}
                        {% endfor %}

                    </div>
                </form>
            </div>

        </section>

        {% include "ftr.html" %}
    </body>
</html>